
#wrap { width: 1200px; height: 900px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/concert.gif");
    #header {
    }
    #container {
    }
    #footer {
    }
}